<div class="seelItem" *ngIf="!submittedSuccessfully">
    
    <div class="alert alert-dismissible alert-primary" *ngIf="errorMessage" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error:</strong> {{ errorMessageText }}
      </div>

    <h2 class="mb-5">Sell an item</h2>

    <h5 class="mb-5">Please fill the following details</h5>


    <form (ngSubmit)="submit()" [formGroup]="addItemFormGroup"  name="sellItemForm">
        <div class="form-row">
            <div class="form-group col-lg-6 ">
                <label>Category</label>
                <!-- <select [(ngModel)]="selectedCategoryID" (change)="selectCategoryOption()" class="form-control form-control-lg" > -->
                    <select class="form-control form-control-lg" *ngIf="category"  id="ddlCategory" name="ddlCategory" [(ngModel)]="ddlCategory" >
                    <option *ngFor="let cats of category?.categories" value="cats.id" >{{cats.name}}</option>
                </select>
                
          </div>
        </div>
       
        <div class="form-row">
            <div class="form-group col-lg-6 ">
                <label>Title of the item</label>
                <input required formControlName="productName" type="text" class="form-control form-control-lg" id="txtProductName" name="txtProductName" placeholder="Enter Product or Service name"/>            
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-6 ">
                <label>Description</label>
                <textarea required formControlName="productDesc" class="form-control form-control-lg" id="txtDescription" rows="10" placeholder="Describe your product"></textarea>        
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-6 ">
                <label>Price (€)</label>
                <input required type="number" min="0" pattern="[0-9]*" data-politespace data-grouplength="3" data-delimiter="," formControlName="productPrice" class="form-control form-control-lg" id="txtPrice"  placeholder="Enter Product or Service Price" />            
          </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-lg-6 ">
                <label>Select Images</label>
                <input required 
                formControlName="productImage" 
                type="file" 
                accept="image/*" 
                (change)="processFile($event)"
                class="form-control-file" multiple>
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-6 mt-5">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                
          </div>
        </div>
        
        
    </form>
</div>


<div *ngIf="submittedSuccessfully">
    <div class="d-flex justify-content-center">
        <img class="img-fluid" src="assets/images/success.png" />        
    </div>
    <div class="d-flex justify-content-center mt-3">
        <h3>Your ad has successfully posted</h3>        
    </div>
    <div class="d-flex justify-content-center mt-3">
        <h5>It will appear on the site once Administrator apporved it</h5>        
    </div>
</div>