
<div class="row">
    <div class="col-sm-6">
      LOGO
    </div>
    <div class="col-sm-6">
      <p class="text-right">Hi, User</p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-6">
      <div class="input-group" style="width: 50%">
        <input
          class="form-control rounded-pill mr-1 pr-5"
          type="search"
          id="example-search-input" 
        />
        <span class="input-group-append">
          <div style="text-align: right">
            <button type="button" class="btn btn-info">Search</button>
          </div>
        </span>
      </div>
    </div>
  </div>


  <hr />


<div class="container">
  <div class="row">
      <div class="col">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="category.html">Category</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Sub-category</li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-3">
          <div class="card bg-light mb-3">
              <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
              <ul class="list-group category_block">
                  <li class="list-group-item"><a href="category.html">Cras justo odio</a></li>
                  <li class="list-group-item"><a href="category.html">Dapibus ac facilisis in</a></li>
                  <li class="list-group-item"><a href="category.html">Morbi leo risus</a></li>
                  <li class="list-group-item"><a href="category.html">Porta ac consectetur ac</a></li>
                  <li class="list-group-item"><a href="category.html">Vestibulum at eros</a></li>
              </ul>
          </div>
      </div>
      <div class="col">
          <div class="row">



              <div *ngFor="let prod of products?.products" class="col-12 col-md-6 col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title"><a href="#" title="View Product">{{prod.title}}</a></h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="row">
                              <div class="col">
                                  <p class="btn btn-danger btn-block">99.00 €</p>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>