



<!-- <div class="container">
  <div class="row">
      <div class="col">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="category.html">Category</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Sub-category</li>
              </ol>
          </nav>
      </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-3">
          <div class="card bg-light mb-3">
              <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
              <ul class="list-group category_block">                
                  <li class="list-group-item" *ngFor="let cat of categories.categories"><a (click)="onCategory(cat.id)" href="">{{cat.name}}</a></li>
              </ul>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div *ngFor="let prod of products?.products" class="col-12 col-md-6 col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="{{prod.thumbnail}}" alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title"><a href="#" title="View Product">{{prod.title}}</a></h4>
                          <p class="card-text"></p>
                          <div class="row">
                              <div class="col">
                                  <p class="btn btn-danger btn-block">{{prod.price}} €</p>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>