
<!DOCTYPE html>
<html>
<head>
<title>TEAM-4</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">            
            <strong>First web page of TEAM-4</strong>
          </a>        
        </div>
    </div>

<p class="ml-3">
    Global Distributed class FULDA <br>
    Spring 2020    <br>
    <b>Team 4</b>

</p>

<ul>
    <li><a href="/adnan">Muhammad Adnan</a></li>
    <li><a href="/waqas">Muhammad Waqas Hussain Lakhani</a></li>
    <li><a href="/ahmed">Ahmed Shahid</a></li>
    <li><a href="/bansi">Bansi Jivani</a></li>
    <li><a href="file:///Users/macintosh/Desktop/GSD%20PROJECT/GDSDProject-4/views/Ziam.html" role="link"  >Ziam Saddique</a></li>
    <li><a href="/bilal">Muhammad Bilal Mehdi</a></li>

 

</ul>

</body>
</html>

