
<!DOCTYPE html>
<html>
<head>
<title>TEAM-4</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">            
            <strong>Muhammad Waqas Hussain Lakhani</strong>
          </a>        
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h1 class="mt-5">Muhammad Waqas Hussain Lakhani</h1>
          <p class="lead">iOS Developer and Student of Global Software Development program at University of Applied Science, Fulda</p>
          <ul class="list-unstyled">
            <li><strong>Email:</strong> muhammad-waqas.lakhani@informatik.hs-fulda.de</li>
            <li><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/whlakhani/" target="_blank">https://www.linkedin.com/in/whlakhani/</a></li>
            <li><strong>GitHub: </strong> <a href="https://github.com/waqashl" target="_blank">https://github.com/waqashl</a></li>
          </ul>
        </div>
      </div>
      <br><br>
      <a href="/"><strong>BACK</strong></a>
    </div>
  


</body>
</html>
