<div class="detailPage"> 

      <h2 class="mb-5">{{product.title}}</h2>

      <div class="row">
        <div class="col-md-8">
          <div class="productDetailGallery">
            <div class="card border-success mb-3">
              <div class="card-header">Gallery</div>
              <div class="card-body">

                <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> -->
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>


                <!-- https://github.com/kolkov/ngx-gallery

                Gallery will go there -->
              </div>
            </div>
          
            <div class="card border-success mb-3">
              <div class="card-header">Details</div>
              <div class="card-body">
                <h5 class="card-title mb-0">Description</h5>

                <p class="card-text">{{product.desc}}</p>
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-success mb-3">
            <div class="card-body">
              <h4 class="card-title">${{product.price}}</h4>
              <p class="card-text">Posted on: <strong>{{ product.createdAt | date: 'MMM dd, yyyy'}}</strong></p>
            </div>
          </div>

          <div class="card border-success mb-3">
            <div class="card-header">Seller Details</div>
            <div class="card-body">
              <h4 class="card-title mb-0">Name: {{product.ownerName}}</h4>
              <!-- <p class="card-text mb-0">Phone: 012347857328</p> -->
              <p class="card-text">Email: {{product.ownerEmail}}</p>
              <button *ngIf="productOwner != loggedInUserId" type="button" class="btn btn-primary" (click)="chatUser()">Chat with seller</button>

              <button *ngIf="productOwner == loggedInUserId"  type="button" class="btn btn-danger ml-2"  (click)="setSold()">Mark Sold</button>

            </div>
          </div>
        </div>
      </div>

    </div> 

