<!-- <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
<p>header works!</p>

<div>
    <h2 *ngFor="let t of testData">{{t.title}}</h2>
</div> -->


<div class="row">
    <div class="col-sm-6">
      <img
        src="unnamed.jpg"
        class="rounded"
        alt="Cinque Terre"
        width="50"
        height="50"
      />
    </div>
    <div class="col-sm-6">
      <p class="text-right">Hi, User</p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-6">
      <div class="input-group" style="width: 50%">
        <input
          class="form-control py-2 rounded-pill mr-1 pr-5"
          type="search"
          value="search"
          id="example-search-input"
        />
        <span class="input-group-append">
          <div style="text-align: right">
            <button type="button" class="btn btn-info">Search</button>
          </div>
        </span>
      </div>
    </div>
  </div>


  <hr />
