
<!DOCTYPE html>
<html>
<head>
<title>TEAM-4</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">            
            <strong>Muhammad Adnan</strong>
          </a>        
        </div>
    </div>

    <div class="container">

        <ul class="mt-5">
            <li>Matriculation Number: 1310870</li>
        </ul>

        <a href="/"><strong>BACK</strong></a>

    </div>




</body>
</html>
