<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>About Me</title>
 
    <link rel="stylesheet" type="text/css" href="stylesheets/mehdi.css" />
    <style type="text/css"></style>
  </head>
  <body>
    <header class="masthead">
      <p class="masthead-intro">Hi, I'm</p>
      <h1 class="masthead-heading">Muhammad Bilal Mehdi (Software Engineer)</h1>
    </header>

    <section class="introduction-section">
      <div style="text-align: center">
        <img
          style="height: 150px"
          src="https://media-exp1.licdn.com/dms/image/C4E03AQHKs-Wp3Y_fTQ/profile-displayphoto-shrink_200_200/0?e=1609977600&v=beta&t=HWkikFjfCdHxc6UmfrUIzXFWIhUkTN-0Q4MK7hvt24k"
        />
      </div>
      <h2>Introduction</h2>
      <p>
        I am Muhammad Bilal Mehdi. I am from Pakistan. I have done my Bachelor
        in Software Engineering in 2019.I worked as junior web developer for one
        year in Lahore,Pakistan . Naturally, I have a strong desire to learn new
        things and recently have garnered strong interest in web design and
        coding.
      </p>
      <p>I'm very passionate about education and building a better future.</p>
    </section>
    <section class="location-section">
      <h2>Where I'm from</h2>
      <p>As mentioned above, I am from Toba Tek Singh, Pakistan.</p>
    </section>
    <section class="questions-section">
      <h2>More about me</h2>
      <h3>What are my favorite hobbies?</h3>
      <p>
        I enjoy excersing, traveling, watching sports, and hanging out with
        friends.
      </p>
      <h3>What is my dream job?</h3>
      <p>
        I don't see myself ever leaving the education field, but if I wasn't
        teaching, I would love to be a part of a company that is building
        technology solutions for k12 education.
      </p>
      <h3>What are my favorite movies and television shows?</h3>
      <p>
        As far as movies go, it's hard to pick just one...but if I had to I
        would say The Big Lebowski.
      </p>
      <p>
        My favorite shows include South Park, Game of Thrones, True Detective,
        and The Wire...of course.
      </p>
    </section>
  </body>
</html>
